Source: xbitmaps
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Cyril Brulebois <kibi@debian.org>
Build-Depends:
 debhelper (>= 5),
 xutils-dev (>= 1:7.5~),
 automake,
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/git/pkg-xorg/data/xbitmaps
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/data/xbitmaps.git

Package: xbitmaps
Architecture: all
Depends: ${misc:Depends}
Description: Base X bitmaps
 This package contains the base X bitmaps, which are used in many legacy X
 clients.
